@model ConfiguradorDeComponents.Models.Equipamentos


<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="cadastro">
        <h1 class="cadastro__titulo">
            Editar equipamento
        </h1>
        <form asp-action="EditarEquipamento">
            <div class="cadastro__formulario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Nome do equipamento</h1>
                    <input placeholder="Digite o nome do equipamento" class="cadastro__formulario__requisito__campo" asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Descrição do equipamento</h1>
                    <textarea placeholder="Digite a descrição do equipamento" class="cadastro__formulario__requisito__descricao" asp-for="Descricao" class="form-control">
                    </textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Número de série</h1>
                    <input placeholder="Digite o número de série" class="cadastro__formulario__requisito__campo" asp-for="NumeroDeSerie" class="form-control" />
                    <span asp-validation-for="NumeroDeSerie" class="text-danger"></span>
                </div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Tipo de equipamento</h1>
                    <select class="cadastro__formulario__requisito__campo" asp-for="IdDoTipoDeEquipamento">
                        <option hidden selected>Selecione um tipo</option>
                        <option value=1>Tensão</option>
                        <option value=2>Corrente</option>
                        <option value=3>Óleo</option>
                    </select>
                </div>
            </div>
            <div class="cadastro__botoes">
                <a class="cadastro__botoes__voltar btn btn-secondary" asp-action="ObterEquipamentos">Voltar para a lista</a>
                <input class="cadastro__botoes__salvar btn btn-success" type="submit" value="Editar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}