<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConfiguradorDeComponents</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="menu">
        <a class="menu__home">
            <img class="menu__home__logo" src="~/assets/COnfigurador.svg">
        </a>
        <div class="menu__nav">
            <ul class="menu__nav__lista">
                <a  asp-area="" asp-controller="Home" asp-action="Index">
                    <li class="menu__nav__lista__item">
                        <i class="fas fa-home"></i>
                        <p class="menu__nav__lista__item__nome">Ínicio</p>
                    </li>
                </a>
                <a  asp-area="" asp-controller="Equipamentos" asp-action="ObterEquipamentos">
                    <li class="menu__nav__lista__item">
                        <i class="fas fa-satellite-dish"></i>
                        <p class="menu__nav__lista__item__nome">Equipamentos</p>
                    </li>
                </a>
                <a asp-area="" asp-controller="Alarmes" asp-action="ObterAlarmes">
                    <li class="menu__nav__lista__item">
                        <i class="fas fa-bell"></i>
                        <p class="menu__nav__lista__item__nome">Alarmes</p>
                    </li>
                </a>
                <a asp-area="" asp-controller="Alarmes" asp-action="ObterAlarmesParaAtuar">
                    <li class="menu__nav__lista__item">
                        <i class="fas fa-tasks"></i>
                        <p class="menu__nav__lista__item__nome">Atuar alarmes</p>
                    </li>
                </a>
                <a asp-area="" asp-controller="Alarmes" asp-action="ObterAlarmesAtuados">
                    <li class="menu__nav__lista__item">
                        <i class="fas fa-toggle-on"></i>
                        <p class="menu__nav__lista__item__nome">Alarmes atuados</p>
                    </li>
                </a>
            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Alarmes.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/datatables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
