@model ConfiguradorDeComponents.Models.Alarmes;
@{
    var listaEquipamentosRelacionados = ViewBag.listaEquipamentosRelacionados as List<EquipamentosRelacionados>;
}


<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="cadastro">
        <h1 class="cadastro__titulo">
            Adicionar alarme
        </h1>
        <form asp-action="AdicionarAlarmes">
            <div class="cadastro__formulario">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Equipamento relacionado</h1>
                    <select class="cadastro__formulario__requisito__campo" asp-for="IdDoEquipamentoRelacionado">
                        <option hidden selected>Selecione o equipamento</option>
                        @foreach (var current in listaEquipamentosRelacionados)
                        {
                            <text>
                                <option value="@current.IdDoEquipamentoRelacionado">@current.NomeDoEquipamentoRelacionado</option>
                            </text>
                        }
                    </select>
                </div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Descrição do alarme</h1>
                    <textarea placeholder="Digite a descrição do alarme" class="cadastro__formulario__requisito__descricao" asp-for="DescricaoAlarme">
                    </textarea>
                    <span asp-validation-for="DescricaoAlarme"></span>
                </div>

                <div class="cadastro__formulario__requisito">
                    <h1 class="cadastro__formulario__requisito__titulo">Classificação</h1>
                    <select class="cadastro__formulario__requisito__campo" asp-for="IdClassificacaoDoAlarme">
                        <option hidden selected>Selecione a classificação</option>
                        <option value=1>Alto</option>
                        <option value=2>Médio</option>
                        <option value=3>Baixo</option>
                    </select>
                </div>
            </div>
            <div class="cadastro__botoes">
                <a class="cadastro__botoes__voltar btn btn-secondary" asp-action="ObterAlarmes">Voltar para a lista</a>
                <input class="cadastro__botoes__salvar btn btn-success" type="submit" value="Salvar" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
