@model ConfiguradorDeComponents.Models.Alarmes;
@{
    var listaEquipamentosRelacionados = ViewBag.listaEquipamentosRelacionados as List<EquipamentosRelacionados>;
}

<h4>Alarmes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarAlarme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="IdDoEquipamentoRelacionado">
                    @foreach (var current in listaEquipamentosRelacionados)
                    {
                        <text>
                            <option value="@current.IdDoEquipamentoRelacionado">@current.NomeDoEquipamentoRelacionado</option>
                        </text>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAlarme" class="control-label"></label>
                <input asp-for="DescricaoAlarme" class="form-control" />
                <span asp-validation-for="DescricaoAlarme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="IdClassificacaoDoAlarme">
                    <option value=1>Alto</option>
                    <option value=2>Médio</option>
                    <option value=3>Baixo</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ObterAlarmes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
