@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="home">
        <div class="home__principal">
            <h1 class="home__titulo">CRUD COnfigurador</h1>
            <p class="home__principal__descricao">Sistem CRUD criado usando como principal a plataforma <strong>ASP.NET</strong>.</p>
        </div>
        <div class="d-flex justify-content-center my-5">
            <div class="home__tecnologias">
                <h2 class="home__titulo">Técnologias utilizadas</h2>
                <ul>
                    <li>ASP.NET</li>
                    <li>HTML</li>
                    <li>SCSS</li>
                    <li>Bootstrap</li>
                    <li>PostgresQL</li>
                </ul>
            </div>
            <div class="home__tecnologias">
                <h2 class="home__titulo">Bibliotecas complementares</h2>
                <ul>
                    <li>Jquery</li>
                    <li>AJAX</li>
                    <li>Font Awesome</li>
                    <li>Data Tables</li>
                </ul>
            </div>
        </div>
        <div class="home__instrucoes">
            <h2 class="home__titulo">Instruções básicas</h2>
            <p class="home__intrucoes__descricao">O sistema tem as funcionalidades de criação, edição e listagem de equipamentos e alarmes, sendo possível o uso de tais funções pelos menus
                de navegação do sistema.
            </p>
            <p class="home__intrucoes__descricao">
                A atuação dos alarmes funciona de forma manual, através do menu "Atuar alarmes" localizado na barra de menu á esquerda.
            </p>
             <a href="https://github.com/Arcaino/ConfiguradorDeComponentes" target="_blank">Acessar projeto no GitHub</a>
        </div>

    </div>
</div>
