body {
  font-family: 'Inter';
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.topo{
  display: flex;
  justify-content: space-between;
  &__aba{
    color: #40916C;
    margin: 1rem;
  }
  &__adicionar{
    background-color: #40916C;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin: 1rem;
    a{
      color: #FFF;
      font-size: 14px;
      font-weight: 600;
      svg{
        margin-right: .5rem;
      }
    }
  }
}


.tabela{
  &__cabecalho{
    height: 45px;
    &__items{
      &__item{
        font-size: 12px;
        text-align: center;
        font-weight: normal;
      }
    }
  }
  &__corpo{
    background-color: #FFF;
    &__items{
      &__item{
        text-align: center;
        font-size: 14px;
        height: 3.5rem;
        font-weight: 500;
        a{
          color: #40916C;
          font-size: 20px;
          margin: 0 10px;
        }
        &__switch{
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
          margin: 0;
          &__slider{
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
          }
          &__slider::before{
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
        }
        &__switch input{
          opacity: 0;
          width: 0;
          height: 0;
        }
      }
    }
    &__items td:first-child{
      border-top-left-radius: 10px; 
      border-bottom-left-radius: 10px;
    }
    &__items td:last-child{
      border-top-right-radius: 10px; 
      border-bottom-right-radius: 10px; 
    }
  }
}

input:checked + .tabela__corpo__items__item__switch__slider {
  background-color: #40916C;
}

input:focus + .tabela__corpo__items__item__switch__slider {
  box-shadow: 0 0 1px #40916C;
}

input:checked + .tabela__corpo__items__item__switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.nome{
  font-weight: 600;
  color: #40916C;
}

.cadastro{
  &__titulo{
    text-align: center;
    color: #40916C;
    font-size: 1.8rem;
  }
  &__formulario{
    width: 25rem;
    border: 2px solid #40916C;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    justify-content: center;
    margin: 1rem 0;
    &__requisito{
      margin: 1rem 0;
      &__titulo{
        font-size: 1rem;
        color: #40916C;
      }
      &__campo{
        height: 2rem;
        width: 15rem;
        border-radius: 5px;
        border: 1px solid #40916C;
      }
      &__descricao{
        width: 15rem;
        border-radius: 5px;
        border: 1px solid #40916C;
        height: 5rem;
      }
    }
  }
  &__botoes{
    text-align: center;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
}

main{
  position:relative;
  width: 100%;
  background-color: #eee;
}

