.menu{
  width: 15rem;
  height: 100vh;
  position: relative;
  &__nav{
    &__lista{
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      &__item{
        width: 100%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        color: #000;
        &__nome{
          color: #000;
          font-size: 15px;
          font-weight: 300;
          margin: auto 0;
          padding: 2rem 0 2rem 1rem;
        }
      }
      &__item:hover{
        color: #40916C;
      }
      &__item:hover .menu__nav__lista__item__nome{
        color: #40916C;
      }
    }
  }
  &__home{
    display: flex;
    justify-content: center;
    &__logo{
      width: 10rem;
      margin: 2rem 0;
    }
  }
}

a:hover{
  text-decoration: none;
}
